# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# needs only to exist on srv
pull.sh

.idea/
tmp/
ami/
andreea/
teo/
teodor/
otheruser/
zed/
profiles/
debug
execution-log
ydl
set-environ.sh

node_modules
# dist
